<div class="main-content mt-5">
  <div class="container shadow" style="background-color: #fff; border: 1px solid #00000060; border-radius: 10px;">
    <h2 class="title">Airports Mesuretment Calculator</h2>

    <div class="row">
      <div class="col-md-6 mb-3 d-flex align-items-center justify-content-center flex-column">
        <h3 class="mt-3">First Airport Select</h3>
        <div class="col-md-7 mb-3">
          <mat-form-field class="col-12">
            <input type="text" placeholder="SelectCountry" matInput [formControl]="countiesControl"
              [matAutocomplete]="countiesAuto" autocomplete="off" id="countiesControl">

            <mat-autocomplete #countiesAuto="matAutocomplete" [displayWith]="displayCountries"
              (optionSelected)='changeCountriesControl($event.option.value)'>
              <mat-option *ngFor="let option of filteredCountries | async" [value]="option">
                {{ option.countryName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-7 mb-3">
          <mat-form-field class="col-12">
            <input type="text" placeholder="SelectCity" matInput [formControl]="citiesControl"
              [matAutocomplete]="citiesAuto" autocomplete="off" id="citiesControl">

            <mat-autocomplete #citiesAuto="matAutocomplete" [displayWith]="displayCities"
              (optionSelected)='changeCityControl($event.option.value)'>
              <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                {{ option.cityName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div class="d-flex align-items-center justify-content-center">
            <button matButton class="btn btn-success btn-sm d-flex align-items-center justify-content-center px-5 gap-1"
              style="color: #fff;" (click)="resetCountryValue()">
              <mat-icon class="btn-icon pr-3">clear</mat-icon>
              Reset
            </button>
          </div>
        </div>


        <div class="col-md-11 pl-2">
          <mat-form-field class="col-12">
            <input [disabled]="true" type="text" placeholder='Airport' matInput class="small"
              [formControl]="airportControl" autocomplete="off" id="airportControl">
          </mat-form-field>
        </div>
      </div>


      <div class="col-md-6 mb-3 d-flex align-items-center justify-content-center flex-column">
        <h3 class="mt-3">Second Airport Select</h3>
        <div class="col-md-7 mb-3">
          <mat-form-field class="col-12">
            <input type="text" placeholder="SelectCountry" matInput [formControl]="countiesSecondControl"
              [matAutocomplete]="countiesSecondControlAuto" autocomplete="off" id="countiesSecondControlControl">

            <mat-autocomplete #countiesSecondControlAuto="matAutocomplete" [displayWith]="displayCountries"
              (optionSelected)='changeCountiesSecondControl($event.option.value)'>
              <mat-option *ngFor="let option of filteredCountiesSecond | async" [value]="option">
                {{ option.countryName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-7 mb-3">
          <mat-form-field class="col-12">
            <input type="text" placeholder="SelectCity" matInput [formControl]="citiesSecondControl"
              [matAutocomplete]="citiesSecondAuto" autocomplete="off" id="citiesSecondControl">

            <mat-autocomplete #citiesSecondAuto="matAutocomplete" [displayWith]="displayCities"
              (optionSelected)='changeCitySecondControl($event.option.value)'>
              <mat-option *ngFor="let option of filteredCitiesSecond | async" [value]="option">
                {{ option.cityName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="d-flex align-items-center justify-content-center">
            <button matButton class="btn btn-success btn-sm d-flex align-items-center justify-content-center px-5 gap-1"
              style="color: #fff;" (click)="resetSecondCountryValue()">
              <mat-icon class="btn-icon pr-3">clear</mat-icon>
              Reset
            </button>
          </div>
        </div>
        <div class="col-md-11 pl-2">
          <mat-form-field class="col-12">
            <input [disabled]="true" type="text" placeholder='Airport' matInput class="small"
              [formControl]="airportSecondControl" autocomplete="off" id="airportSecondControl">
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="d-flex align-items-center justify-content-center">
      <button matButton class="btn btn-success btn-lg d-flex align-items-center justify-content-center px-5 gap-1"
        (click)="calculate()">
        <mat-icon class="btn-icon pr-3">calculate</mat-icon>
        Hesapla
      </button>
    </div>

    <div class="d-flex align-items-center justify-content-center my-5">
      <mat-form-field class="col-2 ">
        <input [disabled]="true" type="text" placeholder='MesuretmentForMiles' matInput [formControl]="milesControl"
          class="miles" autocomplete="off" id="milesControl">
      </mat-form-field>
    </div>

    <div class="d-flex align-items-center justify-content-center my-5 plane">
      <img src="../assets/img/1a2.svg" alt="">
    </div>



  </div>
</div>