.title {
 text-align: center;
 margin-top: 10px;
 font-size: 26px;
 font-weight: bold;
 color: #333;
 text-shadow: 2px 2px #999;
 letter-spacing: 1px;
 text-transform: uppercase;
 border-bottom: 2px solid #ccc;
}